@use './common';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@font-face{
    font-family: 'Anticva';
    font-weight: 400;
    src: url('./fonts/Anticva.woff'),
         url('./fonts/Anticva.woff2'),
}
/*--------------*/
:root {
    --grey: #3F3A33;
    --grey3: #C2BDB8;
    --grey2: #C2BDB880; 
    --green: #31443A;
    --brown: #6A5847;
    --brown2: #333333;
    --brown3: #3F3A33;
    --white: #FCFAF2;
    --white2: #F0EEDD;
    --green-transparent: #31443A99;
    --background: #f0eedd;
    --black: #000000;
    --lora: "Lora", serif;
    --anticva: 'Anticva';
    --main-font: 'Montserrat', sans-serif;
}

/*--------Обнуление----------*/
*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}
[inert], [inert] * {opacity: 0.3;}

html,body{
	max-width: 100%;
	min-width: 320px;
	font-size: 100%;
	font-weight: 400;
	line-height: 1;
	font-size: 14px;
    font-family: var(--main-font);
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	scroll-behavior: smooth;
    color: var(--green);
    background: var(--background);
}

input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;background: transparent}
button::-moz-focus-inner {padding:0;border:0;background: transparent}
a, a:visited{text-decoration: none; color: var(--text-color-light);}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:active,
input:-webkit-autofill:focus {
    // background-color: var(--background) !important;
    color: var(--text-color-light) !important;
    // -webkit-box-shadow: 0 0 0 1000px var(--background) inset !important;
    // -webkit-text-fill-color: var(--text-color-light) !important;
    transition: background-color 0s 600000s, color 0s 600000s;
    // caret-color: var(--text-color-light);
    box-shadow: 0 0 0px 1000px white inset !important; /* Заливаем белым */
    transition: background-color 5000s ease-in-out 0s; /* Убираем анимацию */
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100dvh;
}

input::placeholder {
    color: var(--grey);
    @include common.adaptiveFont(16, 14);
}

input {
    border-radius: 0 !important;
}

img {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-user-drag: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.container {
    width: 100%;
    max-width: 1192px;
    padding-left: 16px;
    padding-right: 16px;
    margin: 0 auto;
}

.noselect {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.chat_button {
    position: fixed;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    border: 3px solid var(--white2);
    outline: 10px solid transparent;
    background-color: var(--brown);
    transition: outline 0.3s, border 0.3s;
    z-index: 100;

    & img {
        position: relative;
        top: 1px;
    }

    @include common.mediaMaxWidth(768) {
        top: unset;
        bottom: 100px;
    }

    @include common.mediaMinWidth(991) {
        &:hover {
            border-color: var(--grey3);
            outline-color: var(--grey3);
        }
    }
}

.chat_modal {
    position: fixed;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    width: 285px;
    background-color: var(--brown);
    padding: 24px 30px;
    border-radius: 16px 0 0 16px;
    z-index: 100;

    & h4 {
        font-weight: 600;
        font-size: 16px;
        margin-bottom: 15px;
        color: var(--white);
        text-align: center;
    }

    .body {
        .tabs {
            height: 41px;
            width: 100%;
            width: 100%;
            background-color: var(--white);
            border-radius: 10px;
            margin-bottom: 15px;
            transition: 0.4s cubic-bezier(0.42, 0, 0.27, 1.49);
            cursor: pointer;
            
            &.open {
                height: 61px;

                .tab_title {
                    display: none;
                }

                .tab_list {
                    display: flex;
                }
            }
            
            .tab_title {
                padding: 10px;
                width: 100%;
                font-size: 16px;
                color: var(--brown);
                display: flex;
                align-items: center;
                justify-content: space-between;
                animation: Open 0.5s forwards;
            }

            .tab_list {
                height: 100%;
                padding: 10px;
                display: none;
                flex-direction: column;
                justify-content: space-between;
                opacity: 0;
                gap: 9px;
                animation: Open 0.5s forwards;

                .tab_item {
                    font-size: 16px;
                    color: var(--brown);
                    transition: 0.3s;
                    width: max-content;

                    &::before {
                        content: '';
                        position: absolute;
                        bottom: -3px;
                        left: 0;
                        width: 100%;
                        height: 1px;
                        background-color: var(--brown);
                        opacity: 0;
                        transition: 0.3s;
                    }

                    @include common.mediaMinWidth(993) {
                        &:hover {
                            transform: scale(1.1);
                            transform-origin: top left;

                            &::before {
                                opacity: 1;
                            }
                        }
                    }
                }
            }
        }

        .tab_content {
            overflow: hidden;
            height: 0;
            transition: 1s cubic-bezier(0.42, 0, 0.27, 1.49);

            & .form {
                display: none;
                flex-direction: column;
                gap: 15px;

                & input, & textarea {
                    width: 100%;
                    padding: 10px;
                    font-size: 16px;
                    background-color: var(--white);
                    border-radius: 10px !important;

                    &::placeholder {
                        color: var(--brown);
                    }
                }

                &.active {
                    display: flex;
                }
            }
        }
    }

    .button_block {
        font-size: 16px;
        font-weight: 600;
        text-align: center;
        margin-top: 10px;
    }
}

@keyframes Open {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}