@charset "UTF-8";
/*-------------Миксины----------------*/
.person_top {
  position: relative;
  padding-top: 170px;
  width: 100%;
  display: grid;
  overflow: hidden;
  grid-template-columns: auto 600fr 520fr;
  grid-template-areas: "a b c";
  gap: 40px;
}
@media screen and (max-width: 800px) {
  .person_top {
    grid-template-columns: 95fr 284fr;
    grid-template-rows: auto auto auto;
    grid-template-areas: "e e" "a c" "b b";
    -moz-column-gap: 10px;
         column-gap: 10px;
    row-gap: 85px;
  }
}
.person_top .title_mob {
  margin: 0 auto;
  width: 100%;
  max-width: 500px;
  display: none;
  font-size: 48px;
  text-transform: uppercase;
  font-family: var(--anticva);
  line-height: 120%;
  grid-area: e;
  padding: 0 16px;
  margin-bottom: -45px;
}
.person_top .title_mob.svirina {
  max-width: 400px;
}
.person_top .title_mob span {
  display: block;
  width: -moz-max-content;
  width: max-content;
  margin-left: auto;
}
@media screen and (max-width: 800px) {
  .person_top .title_mob {
    display: block;
  }
}
.person_top .navigation {
  margin-top: 30px;
  position: relative;
  display: flex;
  flex-direction: column;
  width: 325px;
  height: 585px;
  gap: 10px;
  padding-left: 15px;
  grid-area: a;
}
@media screen and (max-width: 1450px) {
  .person_top .navigation {
    width: 280px;
    height: 500px;
  }
}
@media screen and (max-width: 1150px) {
  .person_top .navigation {
    height: 400px;
    width: 230px;
  }
}
@media screen and (max-width: 991px) {
  .person_top .navigation {
    width: 180px;
    height: 300px;
  }
}
@media screen and (max-width: 800px) {
  .person_top .navigation {
    width: 100%;
    height: auto;
    align-self: center;
    align-items: center;
    gap: 50px;
    padding-left: 5px;
    margin-top: 0;
  }
}
.person_top .navigation .main_element {
  width: 400px;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%) translateX(-70%);
  z-index: 1;
  transform-origin: center;
}
.person_top .navigation .main_element.air {
  transform: translateY(-50%) translateX(-70%) rotate(85deg) scaleX(-1);
}
@media screen and (max-width: 1450px) {
  .person_top .navigation .main_element {
    width: 350px;
  }
}
@media screen and (max-width: 1150px) {
  .person_top .navigation .main_element {
    width: 300px;
  }
}
@media screen and (max-width: 991px) {
  .person_top .navigation .main_element {
    width: 240px;
  }
}
@media screen and (max-width: 800px) {
  .person_top .navigation .main_element {
    display: none;
  }
}
.person_top .navigation .person_link {
  width: 120px;
  position: relative;
  z-index: 2;
}
@media screen and (max-width: 1450px) {
  .person_top .navigation .person_link {
    width: 100px;
  }
}
@media screen and (max-width: 1150px) {
  .person_top .navigation .person_link {
    width: 80px;
  }
}
@media screen and (max-width: 991px) {
  .person_top .navigation .person_link {
    width: 60px;
  }
}
.person_top .navigation .person_link.c {
  margin-left: 10px;
}
.person_top .navigation .person_link.b {
  margin-left: auto;
}
.person_top .navigation .person_link.d {
  margin: 0 auto;
}
@media screen and (max-width: 800px) {
  .person_top .navigation .person_link {
    width: 58%;
    margin: 0 !important;
  }
}
.person_top .navigation .person_link.active {
  margin-top: -30px;
  width: 220px;
}
@media screen and (max-width: 1450px) {
  .person_top .navigation .person_link.active {
    width: 188px;
  }
}
@media screen and (max-width: 1150px) {
  .person_top .navigation .person_link.active {
    width: 150px;
  }
}
@media screen and (max-width: 991px) {
  .person_top .navigation .person_link.active {
    width: 110px;
  }
}
@media screen and (max-width: 800px) {
  .person_top .navigation .person_link.active {
    width: 100%;
    margin: -15px 0 !important;
  }
}
.person_top .navigation .person_link img {
  width: 100%;
}
.person_top .description {
  margin-top: 15px;
  margin-left: -30px;
  grid-area: b;
}
@media screen and (max-width: 800px) {
  .person_top .description {
    margin: 0;
    padding: 0 16px;
  }
}
.person_top .description h1 {
  width: 100%;
  max-width: 595px;
  font-size: 64px;
  line-height: 120%;
  font-family: var(--anticva);
  font-weight: 400;
  margin-left: auto;
}
@media screen and (max-width: 1520px) {
  .person_top .description h1 {
    font-size: 54px;
  }
}
@media screen and (max-width: 1150px) {
  .person_top .description h1 {
    font-size: 48px;
  }
}
@media screen and (max-width: 991px) {
  .person_top .description h1 {
    font-size: 40px;
  }
}
@media screen and (max-width: 800px) {
  .person_top .description h1 {
    display: none;
  }
}
.person_top .description h1 span {
  display: block;
  margin-left: auto;
  width: -moz-max-content;
  width: max-content;
}
.person_top .description h1.svirina {
  max-width: 365px;
}
.person_top .description h1.svirina span {
  margin-top: 10px;
}
.person_top .description .slogans_block {
  display: flex;
  flex-direction: column;
  gap: 60px;
  margin-top: 74px;
}
@media screen and (max-width: 1200px) and (max-width: 768px) {
  .person_top .description .slogans_block {
    margin-top: calc(20px + 68 * (100vw - 390px) / 1920);
  }
}
@media screen and (max-width: 1200px) and (min-width: 768px) {
  .person_top .description .slogans_block {
    margin-top: calc(20px + 40 * 0.0520833333vw);
  }
}
@media screen and (max-width: 1200px) and (max-width: 768px) {
  .person_top .description .slogans_block {
    gap: calc(20px + 68 * (100vw - 390px) / 1920);
  }
}
@media screen and (max-width: 1200px) and (min-width: 768px) {
  .person_top .description .slogans_block {
    gap: calc(20px + 40 * 0.0520833333vw);
  }
}
@media screen and (max-width: 800px) {
  .person_top .description .slogans_block {
    margin-top: 0px;
    gap: 60px;
  }
}
.person_top .description .slogans_block p {
  font-size: 24px;
  line-height: 120%;
  font-family: var(--anticva);
}
@media screen and (max-width: 1200px) and (max-width: 768px) {
  .person_top .description .slogans_block p {
    font-size: calc(14px + 17 * (100vw - 390px) / 1920);
  }
}
@media screen and (max-width: 1200px) and (min-width: 768px) {
  .person_top .description .slogans_block p {
    font-size: calc(14px + 10 * 0.0520833333vw);
  }
}
@media screen and (max-width: 800px) {
  .person_top .description .slogans_block p {
    font-size: 24px;
  }
}
.person_top .description .slogans_block p.top {
  width: 100%;
  max-width: 500px;
  align-self: flex-start;
  text-align: end;
}
@media screen and (max-width: 1450px) {
  .person_top .description .slogans_block p.top {
    max-width: 400px;
  }
}
@media screen and (max-width: 768px) {
  .person_top .description .slogans_block p.top {
    max-width: 1000px;
  }
}
.person_top .description .slogans_block p.middle {
  width: 100%;
  max-width: 440px;
}
.person_top .description .slogans_block p.bottom {
  width: 100%;
  max-width: 500px;
  text-align: end;
}
@media screen and (max-width: 1450px) {
  .person_top .description .slogans_block p.bottom {
    align-self: flex-end;
  }
}
.person_top .description .slogans_block.svirina {
  align-items: center;
}
.person_top .description .slogans_block.svirina p.top {
  max-width: 290px;
  align-self: flex-end;
  text-align: start;
}
@media screen and (max-width: 800px) {
  .person_top .description .slogans_block.svirina p.top {
    align-self: flex-end;
    width: -moz-max-content;
    width: max-content;
  }
}
.person_top .description .slogans_block.svirina p.middle {
  max-width: 470px;
  text-align: end;
}
@media screen and (max-width: 1300px) {
  .person_top .description .slogans_block.svirina p.middle {
    align-self: flex-end;
  }
}
@media screen and (max-width: 800px) {
  .person_top .description .slogans_block.svirina p.middle {
    align-self: flex-start;
    max-width: 359px;
    text-align: start;
  }
}
.person_top .description .slogans_block.svirina p.bottom {
  max-width: 425px;
}
@media screen and (max-width: 1450px) {
  .person_top .description .slogans_block.svirina p.bottom {
    align-self: flex-start;
  }
}
@media screen and (max-width: 800px) {
  .person_top .description .slogans_block.svirina p.bottom {
    align-self: flex-end;
  }
}
.person_top .description .slogans_block span.upper {
  font-size: 32px;
  text-transform: uppercase;
}
@media screen and (max-width: 1200px) and (max-width: 768px) {
  .person_top .description .slogans_block span.upper {
    font-size: calc(20px + 20.4 * (100vw - 390px) / 1920);
  }
}
@media screen and (max-width: 1200px) and (min-width: 768px) {
  .person_top .description .slogans_block span.upper {
    font-size: calc(20px + 12 * 0.0520833333vw);
  }
}
@media screen and (max-width: 800px) {
  .person_top .description .slogans_block span.upper {
    font-size: 32px;
  }
}
.person_top .image_block {
  grid-area: c;
  overflow: hidden;
  border-top-left-radius: 40px;
  border-bottom-left-radius: 40px;
}
@media screen and (max-width: 800px) {
  .person_top .image_block {
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
  }
}
.person_top .image_block img {
  width: 100%;
}
@media screen and (max-width: 800px) {
  .person_top .image_block img {
    transform: scale(1.1);
  }
}

.person_middle {
  width: 100%;
  overflow: hidden;
  margin-top: 80px;
}
.person_middle .container {
  display: grid;
  grid-template-columns: 530fr 556fr;
  gap: 4dvw;
  align-items: center;
}
.person_middle .container.svirina .image_block {
  display: flex;
  justify-content: flex-end;
}
@media screen and (max-width: 800px) {
  .person_middle .container.svirina .image_block {
    justify-content: center;
  }
}
@media screen and (max-width: 450px) {
  .person_middle .container.svirina .image_block {
    justify-content: flex-end;
  }
}
.person_middle .container.svirina .image_block img {
  width: 127%;
}
@media screen and (max-width: 991px) {
  .person_middle .container.svirina .image_block img {
    width: 147%;
    transform: translateX(0%);
  }
}
@media screen and (max-width: 800px) {
  .person_middle .container.svirina .image_block img {
    width: 120%;
    max-width: 400px;
  }
}
@media screen and (max-width: 991px) {
  .person_middle .container.svirina {
    grid-template-columns: 530fr 596fr;
  }
}
@media screen and (max-width: 800px) {
  .person_middle .container.svirina {
    grid-template-columns: 1fr;
  }
}
@media screen and (max-width: 800px) {
  .person_middle .container.svirina .description {
    display: flex;
    margin-top: 80px;
  }
}
@media screen and (max-width: 991px) {
  .person_middle .container {
    grid-template-columns: 20fr 46fr;
  }
}
.person_middle .container .image_block {
  position: relative;
}
.person_middle .container .image_block img {
  width: 100%;
}
@media screen and (max-width: 991px) {
  .person_middle .container .image_block img {
    width: 140%;
    transform: translateX(-50%);
  }
}
@media screen and (max-width: 800px) {
  .person_middle .container .image_block img {
    width: 180%;
  }
}
.person_middle .container .description {
  font-size: 16px;
  line-height: 130%;
  display: flex;
  flex-direction: column;
  gap: 2ch;
}
@media screen and (max-width: 800px) {
  .person_middle .container .description {
    display: none;
  }
}
.person_middle .container .description span {
  font-weight: 600;
}
.person_middle .container .stanislav_slider {
  width: 100%;
  display: none;
  min-width: 10px;
}
@media screen and (max-width: 800px) {
  .person_middle .container .stanislav_slider {
    display: block;
  }
}
.person_middle .container .stanislav_slider .splide__track {
  position: relative;
}
.person_middle .container .stanislav_slider .splide__track .splide__list {
  height: unset;
  display: flex;
  height: auto;
}
.person_middle .container .stanislav_slider .splide__slide {
  width: 100%;
  height: -moz-max-content;
  height: max-content;
  font-size: 16px;
  color: var(--green);
  line-height: 130%;
  height: 0;
  overflow: hidden;
}
.person_middle .container .stanislav_slider .splide__slide.is-visible {
  height: auto;
}
.person_middle .container .stanislav_slider .splide__slide span {
  font-weight: 600;
}
.person_middle .container .stanislav_slider .splide__slide.flex {
  display: flex;
  flex-direction: column;
  gap: 2ch;
}
.person_middle .container .stanislav_slider .splide__pagination {
  position: static !important;
}
.person_middle .container .stanislav_slider .splide__pagination__page {
  margin-top: 10px;
  width: 10px !important;
  height: 10px !important;
  background: transparent;
  border: 1px solid var(--brown);
}
.person_middle .container .stanislav_slider .splide__pagination__page.is-active {
  background-color: var(--brown);
  transform: scale(1) !important;
}

.person_bottom {
  position: relative;
  margin-top: 200px;
}
.person_bottom .main_decor {
  position: absolute;
  top: -95px;
  left: -110px;
  z-index: 1;
  background-image: url("./../images/person_page/fire_decor.svg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  filter: blur(20px);
  width: 300px;
  height: 300px;
}
@media screen and (max-width: 800px) {
  .person_bottom {
    margin-top: 138px;
  }
}
.person_bottom .head {
  position: relative;
  z-index: 2;
  display: flex;
  justify-content: space-between;
  gap: 10px;
  align-items: flex-end;
  margin-bottom: 60px;
}
.person_bottom .head h2 {
  width: 100%;
  max-width: 600px;
  font-size: 24px;
  font-family: var(--anticva);
  line-height: 120%;
}
.person_bottom .head .decor img {
  width: 106px;
}
@media screen and (max-width: 800px) {
  .person_bottom .head .decor {
    display: none;
  }
}
.person_bottom .grid {
  position: relative;
  z-index: 2;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 40px;
  grid-auto-rows: 287px;
  margin-bottom: 150px;
}
@media screen and (max-width: 1100px) {
  .person_bottom .grid {
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (max-width: 768px) {
  .person_bottom .grid {
    grid-template-columns: 1fr;
  }
}
.person_bottom .grid .grid_item {
  position: relative;
  border: 1px solid var(--brown);
  border-radius: 16px;
  padding: 16px;
  z-index: 2;
}
.person_bottom .grid .grid_item .desc_decor {
  position: absolute;
  width: 44px;
}
.person_bottom .grid .grid_item .desc_decor.top {
  top: 16px;
  right: 16px;
}
.person_bottom .grid .grid_item .desc_decor.bottom {
  bottom: 16px;
  left: 16px;
}
.person_bottom .grid .grid_item .desc_decor.center {
  bottom: 16px;
  left: 50%;
  transform: translateX(-50%);
}
.person_bottom .grid .grid_item .desc_decor img {
  width: 100%;
}
.person_bottom .grid .grid_item h3 {
  font-size: 16px;
  font-weight: 600;
  line-height: 130%;
}
.person_bottom .grid .grid_item .grid_descripttion {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 25px;
}
.person_bottom .grid .grid_item .grid_descripttion.mt37 {
  margin-top: 37px;
}
.person_bottom .grid .grid_item .grid_descripttion p {
  width: 100%;
  max-width: 280px;
  font-size: 16px;
  line-height: 130%;
}
.person_bottom .grid .grid_decor {
  position: relative;
  display: none;
}
@media screen and (max-width: 1100px) {
  .person_bottom .grid .grid_decor {
    display: block;
  }
}
@media screen and (max-width: 768px) {
  .person_bottom .grid .grid_decor {
    display: none;
  }
}
.person_bottom .grid .grid_decor img {
  position: absolute;
  top: -80px;
  right: -16px;
}

.svirina_bottom {
  width: 100%;
  overflow: hidden;
}
.svirina_bottom .container {
  position: relative;
  z-index: 3;
  padding-top: 260px;
  padding-bottom: 130px;
  margin-bottom: 150px;
}
@media screen and (max-width: 1280px) {
  .svirina_bottom .container {
    margin-top: -50px;
  }
}
@media screen and (max-width: 800px) {
  .svirina_bottom .container {
    padding-top: 0px;
    margin-top: 80px;
    margin-bottom: 800px;
  }
}
.svirina_bottom .container .bird_block {
  position: absolute;
  top: 160px;
  right: 60px;
  width: 392px;
}
@media screen and (max-width: 1280px) {
  .svirina_bottom .container .bird_block {
    top: 240px;
    right: auto;
    left: 80px;
  }
}
@media screen and (max-width: 1100px) {
  .svirina_bottom .container .bird_block {
    left: -100px;
  }
}
@media screen and (max-width: 800px) {
  .svirina_bottom .container .bird_block {
    width: 500px;
    top: 0px;
    right: auto;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
  }
}
.svirina_bottom .container .bird_block .bird {
  opacity: 0.2;
}
@media screen and (max-width: 800px) {
  .svirina_bottom .container .bird_block .bird {
    width: 330px;
  }
}
.svirina_bottom .container .bird_block .light {
  width: 550px;
  height: 550px;
  position: absolute;
  top: -180px;
  left: 0;
  z-index: -1;
  border: 50%;
}
@media screen and (max-width: 800px) {
  .svirina_bottom .container .bird_block .light {
    top: 0px;
    right: -120px;
    left: auto;
  }
}
.svirina_bottom .container .circle {
  position: absolute;
  bottom: 0;
  left: -65px;
  opacity: 0.2;
  z-index: 1;
}
@media screen and (max-width: 1280px) {
  .svirina_bottom .container .circle {
    bottom: 60px;
    right: -65px;
    left: auto;
  }
}
@media screen and (max-width: 800px) {
  .svirina_bottom .container .circle {
    display: none;
  }
}
.svirina_bottom .container .light_main {
  position: absolute;
  top: 0;
  left: -231px;
  z-index: 0;
}
@media screen and (max-width: 1280px) {
  .svirina_bottom .container .light_main {
    top: 133px;
    right: -64px;
    left: auto;
  }
}
@media screen and (max-width: 800px) {
  .svirina_bottom .container .light_main {
    display: none;
  }
}
.svirina_bottom .container .top {
  position: relative;
  z-index: 3;
  display: grid;
  grid-template-columns: 530fr 556fr;
  grid-template-areas: "a b";
}
@media screen and (max-width: 1280px) {
  .svirina_bottom .container .top {
    grid-template-areas: "b a";
    gap: 40px;
  }
}
@media screen and (max-width: 800px) {
  .svirina_bottom .container .top {
    grid-template-columns: 1fr;
    gap: 0;
    grid-template-areas: "a";
  }
}
.svirina_bottom .container .top p {
  grid-area: a;
}
.svirina_bottom .container .top p span {
  width: 100%;
  max-width: 391px;
  text-align: end;
  display: block;
  margin-left: auto;
  font-size: 20px;
  line-height: 120%;
  font-weight: 600;
}
@media screen and (max-width: 1280px) {
  .svirina_bottom .container .top p span {
    max-width: 460px;
    text-align: start;
    margin-left: 0;
  }
}
@media screen and (max-width: 800px) {
  .svirina_bottom .container .top p span {
    font-size: 18px;
    font-weight: 400;
  }
}
.svirina_bottom .container .middle {
  position: relative;
  z-index: 3;
  margin-top: 100px;
  display: grid;
  grid-template-columns: 530fr 556fr;
  grid-template-areas: "b a";
  gap: 40p;
}
@media screen and (max-width: 1280px) {
  .svirina_bottom .container .middle {
    grid-template-areas: "a b";
  }
}
@media screen and (max-width: 800px) {
  .svirina_bottom .container .middle {
    grid-template-columns: 1fr;
    gap: 0;
    grid-template-areas: "a";
    margin-top: 40px;
  }
}
.svirina_bottom .container .middle p {
  grid-area: a;
}
.svirina_bottom .container .middle p span {
  width: 100%;
  max-width: 300px;
  display: block;
  font-size: 20px;
  line-height: 120%;
  font-weight: 600;
}
@media screen and (max-width: 1280px) {
  .svirina_bottom .container .middle p span {
    text-align: end;
    margin-left: auto;
    margin-right: -80px;
  }
}
@media screen and (max-width: 800px) {
  .svirina_bottom .container .middle p span {
    margin-right: 0;
    max-width: 358px;
    font-size: 18px;
    font-weight: 400;
  }
}
.svirina_bottom .container .bottom {
  position: relative;
  z-index: 3;
  margin-top: 100px;
  display: grid;
  grid-template-columns: 530fr 556fr;
  grid-template-areas: "a b";
}
@media screen and (max-width: 1280px) {
  .svirina_bottom .container .bottom {
    grid-template-areas: "b a";
    gap: 40px;
  }
}
@media screen and (max-width: 800px) {
  .svirina_bottom .container .bottom {
    grid-template-columns: 1fr;
    gap: 0;
    grid-template-areas: "a";
    margin-top: 40px;
  }
}
.svirina_bottom .container .bottom p {
  grid-area: a;
}
.svirina_bottom .container .bottom p span {
  width: 100%;
  max-width: 300px;
  text-align: end;
  display: block;
  margin-left: auto;
  font-size: 20px;
  line-height: 120%;
  font-weight: 600;
}
@media screen and (max-width: 1280px) {
  .svirina_bottom .container .bottom p span {
    max-width: 300px;
    text-align: start;
    margin-left: 0;
  }
}
@media screen and (max-width: 800px) {
  .svirina_bottom .container .bottom p span {
    font-size: 18px;
    font-weight: 400;
  }
}/*# sourceMappingURL=person_page.css.map */