@charset "UTF-8";
/*-------------Миксины----------------*/
.container.hidden_text {
  width: 100%;
  position: relative;
  margin-top: 200px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 40px 0;
}
@media screen and (max-width: 992px) {
  .container.hidden_text {
    margin-top: 120px;
  }
}
@media screen and (max-width: 768px) {
  .container.hidden_text {
    margin-top: 130px;
  }
}
.container.hidden_text::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px);
  z-index: 10;
  opacity: 0;
  animation: shim 14s forwards infinite;
}
.container.hidden_text .focus_state {
  position: relative;
  height: 70px;
  width: 100%;
  margin-right: 128px;
}
@media screen and (max-width: 768px) {
  .container.hidden_text .focus_state {
    margin-right: 30px;
  }
}
.container.hidden_text h2 {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(0, -50%);
  font-family: var(--anticva);
  text-transform: uppercase;
  display: flex;
  align-items: center;
  color: var(--green);
}
@media (max-width: 768px) {
  .container.hidden_text h2 {
    font-size: calc(24.45px + 36.635 * (100vw - 390px) / 1920);
  }
}
@media (min-width: 768px) {
  .container.hidden_text h2 {
    font-size: calc(24.45px + 21.55 * 0.0520833333vw);
  }
}
.container.hidden_text h2.one {
  animation: hide 14s forwards infinite;
}
.container.hidden_text h2.two {
  opacity: 0;
  animation: show 14s forwards infinite;
}
@media (max-width: 768px) {
  .container.hidden_text h2 img.romb {
    height: calc(50px + 34 * (100vw - 390px) / 1920);
  }
}
@media (min-width: 768px) {
  .container.hidden_text h2 img.romb {
    height: calc(50px + 20 * 0.0520833333vw);
  }
}
.container.hidden_text h2 span {
  z-index: 1;
}
.container.hidden_text h2 .man {
  position: absolute;
  top: 50%;
  left: 6px;
  transform: translate(-50%, -50%);
  z-index: 0;
  height: 124px;
}
@media (max-width: 768px) {
  .container.hidden_text h2 .man {
    height: calc(90px + 57.8 * (100vw - 390px) / 1920);
  }
}
@media (min-width: 768px) {
  .container.hidden_text h2 .man {
    height: calc(90px + 34 * 0.0520833333vw);
  }
}

.slider_container {
  position: relative;
  margin-bottom: 170px;
  width: 100%;
}
@media (max-width: 768px) {
  .slider_container {
    margin-top: calc(40px + 51 * (100vw - 390px) / 1920);
  }
}
@media (min-width: 768px) {
  .slider_container {
    margin-top: calc(40px + 30 * 0.0520833333vw);
  }
}
.slider_container .chat_button {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60px;
  width: 60px;
  border-radius: 50%;
  border: 3px solid var(--white2);
  background-color: var(--brown);
}
.slider_container .chat_button img {
  position: relative;
  top: 1px;
}
.slider_container .chat_button.desc {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 10;
}
.slider_container .chat_button.mob {
  margin-left: auto;
  margin-top: 20px;
}
@media screen and (min-width: 769px) {
  .slider_container .chat_button.mob {
    display: none;
  }
}
@media screen and (max-width: 1400px) {
  .slider_container .chat_button.desc {
    top: 50%;
    transform: translate(0, -50%);
  }
}
@media screen and (max-width: 768px) {
  .slider_container .chat_button.desc {
    display: none;
  }
}
.slider_container .splide {
  width: 100%;
  max-width: 1361px;
  margin: 0 auto;
  margin-bottom: 70px;
}
@media screen and (max-width: 1400px) {
  .slider_container .splide {
    padding-right: 50px;
  }
}
@media screen and (max-width: 1280px) {
  .slider_container .splide {
    margin-bottom: 20px;
  }
}
@media screen and (max-width: 768px) {
  .slider_container .splide {
    padding-right: 0;
    margin-bottom: 50px;
  }
}
.slider_container .splide .splide__track {
  position: relative;
  padding: 0 100px !important;
}
.slider_container .splide .splide__track .splide__list {
  height: unset;
}
.slider_container .splide .splide__track:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 130px;
  background: linear-gradient(90deg, transparent 0%, rgba(240, 238, 221, 0.2) 20%, rgba(240, 238, 221, 0.4) 40%, rgba(240, 238, 221, 0.6) 60%, var(--background) 80%);
  z-index: 10;
}
.slider_container .splide .splide__track:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 130px;
  background: linear-gradient(90deg, var(--background) 40%, transparent 100%);
  z-index: 10;
}
@media screen and (max-width: 768px) {
  .slider_container .splide .splide__track::after, .slider_container .splide .splide__track::before {
    display: none;
  }
}
@media screen and (max-width: 768px) {
  .slider_container .splide .splide__track {
    padding: 0 16px !important;
  }
}
.slider_container .splide .splide__slide {
  position: relative;
  overflow: hidden;
  border-radius: 16px;
}
.slider_container .splide .splide__slide img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
@media screen and (max-width: 1400px) {
  .slider_container .container {
    max-width: unset;
    padding-left: 100px;
  }
}
@media screen and (max-width: 768px) {
  .slider_container .container {
    padding: 0 16px;
  }
}
.slider_container .container h3 {
  position: relative;
  color: var(--brown3);
  font-family: var(--anticva);
  font-size: 90px;
}
@media screen and (max-width: 1300px) {
  .slider_container .container h3 {
    width: -moz-min-content;
    width: min-content;
  }
}
@media screen and (max-width: 1000px) and (max-width: 768px) {
  .slider_container .container h3 {
    font-size: calc(44px + 78.2 * (100vw - 390px) / 1920);
  }
}
@media screen and (max-width: 1000px) and (min-width: 768px) {
  .slider_container .container h3 {
    font-size: calc(44px + 46 * 0.0520833333vw);
  }
}
.slider_container .container p.decor {
  position: relative;
  font-weight: 400;
  font-size: 22px;
  left: 50%;
  color: var(--green);
  font-family: var(--main-font);
}
@media screen and (max-width: 1300px) {
  .slider_container .container p.decor {
    left: 40%;
  }
}
@media screen and (max-width: 700px) {
  .slider_container .container p.decor {
    left: unset;
    margin-top: 20px;
    text-align: end;
  }
}

@keyframes shim {
  0% {
    opacity: 1;
  }
  10% {
    opacity: 0;
  }
  35% {
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  45% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  75% {
    opacity: 0;
  }
  88% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
@keyframes hide {
  0% {
    opacity: 1;
  }
  40% {
    opacity: 1;
  }
  48% {
    opacity: 0;
  }
  80% {
    opacity: 0;
  }
  82% {
    opacity: 0;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
@keyframes show {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  90% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
.scenaries {
  width: 100%;
  margin-top: 150px;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 140px 187px 222px 133px;
  grid-template-areas: "a a b b b b c c c c c c" "a a d d d d e e e e f f" "g g g h h h i i i i f f" "j j j j j j k k k k k k";
  gap: 40px;
  overflow: hidden;
}
@media screen and (max-width: 991px) {
  .scenaries {
    grid-template-areas: "f f f a a a e e e e e e" "f f f a a a i i i i i i" "g g g g g g d d d d d d" "c c c c c c b b b b b b" "k k k k k k k k h h h h" "j j j j j j j j l l l l";
    grid-template-rows: 185px 202px 202px 140px 133px 133px;
  }
}
.scenaries > *:nth-child(1) {
  grid-area: a;
}
.scenaries > *:nth-child(2) {
  grid-area: b;
}
.scenaries > *:nth-child(3) {
  grid-area: c;
}
.scenaries > *:nth-child(4) {
  grid-area: d;
}
.scenaries > *:nth-child(5) {
  grid-area: e;
}
.scenaries > *:nth-child(6) {
  grid-area: f;
}
.scenaries > *:nth-child(7) {
  grid-area: g;
}
.scenaries > *:nth-child(8) {
  grid-area: h;
}
.scenaries > *:nth-child(9) {
  grid-area: i;
}
.scenaries > *:nth-child(10) {
  grid-area: j;
}
.scenaries > *:nth-child(11) {
  grid-area: k;
}
.scenaries .scenaries_item {
  position: relative;
  border-radius: 16px;
  font-size: 16px;
}
@media screen and (max-width: 768px) {
  .scenaries .scenaries_item {
    height: 55px;
  }
}
.scenaries .scenaries_item.e {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--brown);
  color: var(--white);
  padding: 24px 20px;
  line-height: 130%;
}
.scenaries .scenaries_item.e p {
  text-align: center;
}
.scenaries .scenaries_item.e span {
  font-weight: 600;
}
.scenaries .scenaries_item.g {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 20px;
  border: 1px solid var(--brown);
  line-height: 130%;
}
@media screen and (max-width: 1200px) {
  .scenaries .scenaries_item.g {
    line-height: 100%;
    padding: 0 10px;
  }
}
.scenaries .scenaries_item.g p {
  font-size: 14px;
  text-align: center;
}
.scenaries .scenaries_item.g p span {
  font-weight: 700;
}
.scenaries .scenaries_item h4 {
  width: -moz-min-content;
  width: min-content;
  font-size: 16px;
  line-height: 130%;
}
.scenaries .scenaries_item .label {
  position: absolute;
  width: -moz-max-content;
  width: max-content;
  max-width: 100%;
  border-radius: 16px;
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 12px 16px;
  background-color: var(--white);
  overflow: hidden;
}
.scenaries .scenaries_item .label svg {
  min-width: 20px;
}
@media screen and (max-width: 768px) {
  .scenaries .scenaries_item .label {
    left: 0;
    top: 50%;
    transform: translateY(-50%);
  }
}
.scenaries .scenaries_item .description {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--white);
  transition: 0.3s;
  transition-delay: 0s;
  opacity: 0;
  border-radius: 16px;
  padding: 16px;
  padding-bottom: 10px;
  color: var(--green);
  z-index: 10;
}
@media screen and (min-width: 992px) {
  .scenaries .scenaries_item .description:hover {
    transition-delay: 0.1s;
    opacity: 1;
  }
}
.scenaries .scenaries_item .description .title_block {
  display: flex;
  align-items: flex-start;
  gap: 15px;
  margin-bottom: 7.5px;
}
.scenaries .scenaries_item .description p {
  font-size: 14px;
  line-height: 130%;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
@media screen and (max-width: 991px) {
  .scenaries .scenaries_item .description {
    z-index: -1;
  }
  .scenaries .scenaries_item.active .description {
    transition-delay: 0.1s;
    opacity: 1;
    z-index: 10;
  }
}
.scenaries .scenaries_item.a .label {
  top: 88px;
  left: 0;
  transition: 0.2s cubic-bezier(0.48, -1.68, 0.55, 1.9);
}
.scenaries .scenaries_item.a .description {
  background-image: url("./../images/fire_back.svg");
  background-position: left bottom;
  background-repeat: no-repeat;
}
@media screen and (max-width: 991px) {
  .scenaries .scenaries_item.a .description {
    height: 367px;
  }
}
.scenaries .scenaries_item.a .description p {
  -webkit-line-clamp: 16;
  line-clamp: 16;
}
@media screen and (min-width: 992px) {
  .scenaries .scenaries_item.a:hover .label {
    transform: translateX(10%);
    top: 70px;
  }
}
@media screen and (max-width: 991px) {
  .scenaries .scenaries_item.a.active .label {
    transform: translateX(10%);
    top: 70px;
  }
}
.scenaries .scenaries_item.b .label {
  top: 0px;
  left: 30%;
  transition: 0.3s cubic-bezier(0.56, -0.64, 0.42, 1.5);
}
.scenaries .scenaries_item.b .description {
  background-image: url("./../images/water_back.svg");
  background-position: right top;
  background-repeat: no-repeat;
}
.scenaries .scenaries_item.b .description .title_block {
  position: relative;
  left: 30%;
  transition: 0.2s cubic-bezier(0.56, -0.64, 0.42, 1.5);
  transition-delay: 0.1s;
}
.scenaries .scenaries_item.b .description p {
  -webkit-line-clamp: 4;
  line-clamp: 4;
}
@media screen and (min-width: 992px) {
  .scenaries .scenaries_item.b .description:hover .title_block {
    left: 0;
  }
}
@media screen and (min-width: 992px) {
  .scenaries .scenaries_item.b:hover .label {
    left: 30px;
  }
}
@media screen and (max-width: 991px) {
  .scenaries .scenaries_item.b.active .label {
    left: 30px;
  }
  .scenaries .scenaries_item.b.active .description .title_block {
    left: 0;
  }
}
.scenaries .scenaries_item.c .label {
  top: 50%;
  left: 30%;
  transition: 0.3s cubic-bezier(0.56, -0.64, 0.42, 1.5);
  transform: translateY(-50%);
}
@media screen and (max-width: 991px) {
  .scenaries .scenaries_item.c .label {
    left: 54%;
  }
}
.scenaries .scenaries_item.c .description {
  background-image: url("./../images/air_back.svg");
  background-position: right bottom;
  background-repeat: no-repeat;
}
@media screen and (max-width: 991px) {
  .scenaries .scenaries_item.c .description {
    width: 70dvw;
  }
}
.scenaries .scenaries_item.c .description .title_block {
  position: relative;
  top: 20%;
  left: 20%;
  transition: 0.2s cubic-bezier(0.56, -0.64, 0.42, 1.5);
  transition-delay: 0s;
}
.scenaries .scenaries_item.c .description p {
  -webkit-line-clamp: 4;
  line-clamp: 4;
}
@media screen and (min-width: 992px) {
  .scenaries .scenaries_item.c .description:hover .title_block {
    transition-delay: 0.1s;
    top: 0;
    left: 0;
  }
}
@media screen and (min-width: 992px) {
  .scenaries .scenaries_item.c:hover .label {
    top: 30%;
    left: 10%;
  }
}
@media screen and (max-width: 991px) {
  .scenaries .scenaries_item.c.active .label {
    top: 30%;
    left: 10%;
  }
  .scenaries .scenaries_item.c.active .description .title_block {
    transition-delay: 0.1s;
    top: 0;
    left: 0;
  }
}
.scenaries .scenaries_item.d .label {
  top: 0%;
  left: 0;
}
.scenaries .scenaries_item.d .description {
  background-image: url("./../images/mount_back.svg");
  background-position: left bottom;
  background-repeat: no-repeat;
}
.scenaries .scenaries_item.d .description p {
  -webkit-line-clamp: 6;
  line-clamp: 6;
}
.scenaries .scenaries_item.f .label {
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  transition: 0.3s cubic-bezier(0.48, -1.68, 0.55, 1.9);
}
.scenaries .scenaries_item.f .description {
  background-image: url("./../images/mount_back.svg");
  background-position: left bottom;
  background-repeat: no-repeat;
}
.scenaries .scenaries_item.f .description .title_block {
  position: relative;
  top: 40px;
  left: 0;
  transition: 0.3s cubic-bezier(0.56, -0.64, 0.42, 1.5);
}
.scenaries .scenaries_item.f .description p {
  -webkit-line-clamp: 18;
  line-clamp: 18;
}
@media screen and (min-width: 992px) {
  .scenaries .scenaries_item.f .description:hover .title_block {
    top: 0;
  }
}
@media screen and (min-width: 992px) {
  .scenaries .scenaries_item.f:hover .label {
    top: 20%;
  }
}
@media screen and (max-width: 991px) {
  .scenaries .scenaries_item.f.active .label {
    top: 20%;
  }
  .scenaries .scenaries_item.f.active .description .title_block {
    top: 0;
  }
}
.scenaries .scenaries_item.h .label {
  top: 0px;
  left: 40%;
  transition: 0.3s cubic-bezier(0.56, -0.64, 0.42, 1.5);
}
.scenaries .scenaries_item.h .description {
  background-image: url("./../images/water_back.svg");
  background-position: right bottom;
  background-repeat: no-repeat;
}
@media screen and (max-width: 991px) {
  .scenaries .scenaries_item.h .description {
    height: 202px;
  }
}
.scenaries .scenaries_item.h .description .title_block {
  position: relative;
  top: -10px;
  left: 30%;
  transition: 0.2s cubic-bezier(0.56, -0.64, 0.42, 1.5);
  transition-delay: 0s;
}
.scenaries .scenaries_item.h .description p {
  -webkit-line-clamp: 7;
  line-clamp: 7;
}
@media screen and (min-width: 992px) {
  .scenaries .scenaries_item.h .description:hover .title_block {
    transition-delay: 0.1s;
    top: 2px;
    left: 0;
  }
}
@media screen and (min-width: 992px) {
  .scenaries .scenaries_item.h:hover .label {
    left: 30px;
  }
}
@media screen and (max-width: 991px) {
  .scenaries .scenaries_item.h.active .label {
    left: 30px;
  }
  .scenaries .scenaries_item.h.active .description .title_block {
    transition-delay: 0.1s;
    top: 2px;
    left: 0;
  }
}
.scenaries .scenaries_item.i .label {
  top: 50%;
  left: 30%;
  transition: 0.3s cubic-bezier(0.56, -0.64, 0.42, 1.5);
  transform: translateY(-50%);
}
.scenaries .scenaries_item.i .description {
  background-image: url("./../images/air_back.svg");
  background-position: right bottom;
  background-repeat: no-repeat;
}
.scenaries .scenaries_item.i .description .title_block {
  position: relative;
  top: 20%;
  left: 20%;
  transition: 0.2s cubic-bezier(0.56, -0.64, 0.42, 1.5);
  transition-delay: 0s;
}
.scenaries .scenaries_item.i .description p {
  -webkit-line-clamp: 7;
  line-clamp: 7;
}
@media screen and (min-width: 992px) {
  .scenaries .scenaries_item.i .description:hover .title_block {
    transition-delay: 0.1s;
    top: 0;
    left: 0;
  }
}
@media screen and (min-width: 992px) {
  .scenaries .scenaries_item.i:hover .label {
    top: 30%;
    left: 10%;
  }
}
@media screen and (max-width: 991px) {
  .scenaries .scenaries_item.i.active .label {
    top: 30%;
    left: 10%;
  }
  .scenaries .scenaries_item.i.active .description .title_block {
    transition-delay: 0.1s;
    top: 0;
    left: 0;
  }
}
.scenaries .scenaries_item.j .label {
  top: 0px;
  left: 20%;
  transition: 0.3s cubic-bezier(0.56, -0.64, 0.42, 1.5);
}
.scenaries .scenaries_item.j .description {
  background-image: url("./../images/water_back.svg");
  background-position: right bottom;
  background-repeat: no-repeat;
}
@media screen and (max-width: 991px) {
  .scenaries .scenaries_item.j .description {
    width: 70dvw;
  }
}
.scenaries .scenaries_item.j .description .title_block {
  position: relative;
  left: 20%;
  transition: 0.2s cubic-bezier(0.56, -0.64, 0.42, 1.5);
  transition-delay: 0.1s;
}
.scenaries .scenaries_item.j .description p {
  -webkit-line-clamp: 4;
  line-clamp: 4;
}
@media screen and (min-width: 992px) {
  .scenaries .scenaries_item.j .description:hover .title_block {
    left: 0;
  }
}
@media screen and (min-width: 992px) {
  .scenaries .scenaries_item.j:hover .label {
    left: 30px;
  }
}
@media screen and (max-width: 991px) {
  .scenaries .scenaries_item.j.active .label {
    left: 30px;
  }
  .scenaries .scenaries_item.j.active .description .title_block {
    left: 0;
  }
}
.scenaries .scenaries_item.k .label {
  top: 0px;
  left: 40%;
  transition: 0.3s cubic-bezier(0.56, -0.64, 0.42, 1.5);
}
@media screen and (max-width: 991px) {
  .scenaries .scenaries_item.k .label {
    left: 48%;
  }
}
.scenaries .scenaries_item.k .description {
  background-image: url("./../images/fire_back2.svg");
  background-position: right bottom;
  background-repeat: no-repeat;
}
@media screen and (max-width: 991px) {
  .scenaries .scenaries_item.k .description {
    width: 70dvw;
  }
}
.scenaries .scenaries_item.k .description .title_block {
  position: relative;
  left: 40%;
  transition: 0.2s cubic-bezier(0.56, -0.64, 0.42, 1.5);
  transition-delay: 0.1s;
}
.scenaries .scenaries_item.k .description p {
  -webkit-line-clamp: 4;
  line-clamp: 4;
}
@media screen and (min-width: 992px) {
  .scenaries .scenaries_item.k .description:hover .title_block {
    left: 0;
  }
}
@media screen and (min-width: 992px) {
  .scenaries .scenaries_item.k:hover .label {
    left: 30px;
  }
}
@media screen and (max-width: 991px) {
  .scenaries .scenaries_item.k.active .label {
    left: 30px;
  }
  .scenaries .scenaries_item.k.active .description .title_block {
    left: 0;
  }
}
@media screen and (max-width: 768px) {
  .scenaries {
    padding: 0px !important;
    grid-template-columns: 1fr;
    grid-template-areas: "e" "a" "b" "c" "f" "d" "h" "i" "j" "k" "g";
    grid-auto-rows: auto;
    grid-template-rows: repeat(9, auto);
    gap: 0px;
    overflow: hidden;
  }
  .scenaries .scenaries_item {
    border-top: 1px solid var(--brown);
    width: 100% !important;
    background-color: var(--white);
    transition: 0.8s;
    height: 55px;
    border-radius: 0px;
    overflow: hidden;
  }
  .scenaries .scenaries_item.a {
    border-radius: 16px;
    margin-top: -14px;
    z-index: 10;
  }
  .scenaries .scenaries_item.a .description {
    background-image: url("./../images/fire_back3.svg");
    background-position: bottom right 5px;
  }
  .scenaries .scenaries_item.e {
    border-top-right-radius: 16px;
    border-top-left-radius: 16px;
    border: 0;
    height: 185px;
  }
  .scenaries .scenaries_item.g {
    height: auto;
    border: 0;
    background-color: transparent;
    padding: 16px;
  }
  .scenaries .scenaries_item.b .description {
    background-position: bottom -10px right !important;
  }
  .scenaries .scenaries_item.c .description {
    background-position: bottom -30px right !important;
  }
  .scenaries .scenaries_item .label {
    left: 0 !important;
    top: 1px !important;
    transform: translateY(0%) !important;
    border-radius: 0;
    height: 53px !important;
    animation: none !important;
  }
  .scenaries .scenaries_item .label h4 {
    width: -moz-max-content;
    width: max-content;
  }
  .scenaries .scenaries_item .description {
    width: 100% !important;
    height: 100% !important;
    transition: 0.8s !important;
    transition-delay: 0s !important;
    background-position: right bottom !important;
  }
  .scenaries .scenaries_item .description p {
    -webkit-line-clamp: 6 !important;
    line-clamp: 6 !important;
  }
  .scenaries .scenaries_item .description .title_block {
    top: 0 !important;
    left: 0 !important;
    transition: 0s linear !important;
    animation: none !important;
  }
  .scenaries .scenaries_item .description .title_block h4 {
    width: -moz-max-content !important;
    width: max-content !important;
  }
  .scenaries .scenaries_item.active {
    height: 202px;
  }
}

.acquaintance {
  margin-top: 150px;
  position: relative;
}
.acquaintance .decor {
  width: 300px;
  position: absolute;
  top: -95px;
  left: -129px;
  z-index: 0;
}
.acquaintance .decor img {
  width: 100%;
}
@media screen and (max-width: 768px) {
  .acquaintance .decor {
    width: 180px;
    top: -53px;
    left: -90px;
  }
}
.acquaintance .acquaintance_link {
  font-size: 16px;
  color: var(--green);
  font-weight: 600;
}
@media screen and (min-width: 992px) {
  .acquaintance .acquaintance_link:hover {
    text-decoration: underline;
  }
}
.acquaintance .acquaintance_link.from_image {
  display: none;
  margin-top: 30px;
}
@media screen and (max-width: 991px) {
  .acquaintance .acquaintance_link.from_image {
    display: block;
  }
}
@media screen and (max-width: 768px) {
  .acquaintance .acquaintance_link.from_image {
    display: none;
  }
}
.acquaintance .acquaintance_head {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  grid-auto-rows: auto;
  align-items: center;
  margin-bottom: 40px;
}
@media screen and (max-width: 991px) {
  .acquaintance .acquaintance_head {
    grid-template-columns: 1fr 82px;
  }
}
@media screen and (max-width: 556px) {
  .acquaintance .acquaintance_head {
    grid-template-columns: 1fr;
  }
}
.acquaintance .acquaintance_head .acquaintance_title h2 {
  width: 100%;
  font-size: 34px;
  line-height: 120%;
  text-transform: uppercase;
  max-width: 500px;
  min-width: 500px;
  font-family: var(--anticva);
}
@media screen and (max-width: 768px) {
  .acquaintance .acquaintance_head .acquaintance_title h2 {
    font-size: 24px;
    max-width: 400px;
    min-width: 20px;
  }
}
.acquaintance .acquaintance_head .rigth {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 4dvw;
  overflow: hidden;
}
@media screen and (max-width: 768px) {
  .acquaintance .acquaintance_head .rigth {
    display: none;
  }
}
.acquaintance .acquaintance_head .rigth .link_block {
  margin-top: 24px;
  padding-top: 10px;
  border-top: 1px solid var(--brown);
  flex: 1;
}
@media screen and (max-width: 991px) {
  .acquaintance .acquaintance_head .rigth .link_block {
    display: none;
  }
}
.acquaintance .acquaintance_head .rigth img {
  display: block;
}
@media screen and (min-width: 992px) {
  .acquaintance .acquaintance_head .rigth img:hover {
    animation: Rotate 500ms infinite linear;
  }
}
.acquaintance .acquaintance_grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
  -moz-column-gap: 100px;
       column-gap: 100px;
  row-gap: 30px;
  grid-template-areas: "a b" "a c";
}
@media screen and (max-width: 991px) {
  .acquaintance .acquaintance_grid {
    grid-template-areas: "a b" "c c";
  }
}
@media screen and (max-width: 768px) {
  .acquaintance .acquaintance_grid {
    grid-template-columns: 1fr;
    grid-template-areas: "b" "e" "a" "f";
    grid-template-rows: repeat(4, auto);
  }
}
.acquaintance .acquaintance_grid .image_block {
  grid-area: a;
  position: relative;
  align-self: center;
}
.acquaintance .acquaintance_grid .image_block img {
  width: 100%;
}
.acquaintance .acquaintance_grid .factors {
  grid-area: b;
}
.acquaintance .acquaintance_grid .factors h3 {
  font-weight: 600;
  font-size: 20px;
  line-height: 130%;
  color: var(--green);
}
.acquaintance .acquaintance_grid .factors h3 span {
  text-decoration: underline;
}
@media screen and (min-width: 992px) {
  .acquaintance .acquaintance_grid .factors h3 span {
    display: block;
  }
}
.acquaintance .acquaintance_grid .factors .factors_grid {
  margin-top: 30px;
  display: grid;
  grid-template-columns: repeat(3, minmax(165px, 1fr));
  grid-template-areas: "a b c" "d e f";
  grid-auto-rows: 185px;
}
@media screen and (max-width: 991px) {
  .acquaintance .acquaintance_grid .factors .factors_grid {
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "a b" "d e" "c f";
  }
}
.acquaintance .acquaintance_grid .factors .factors_grid > *:nth-child(1) {
  grid-area: a;
}
.acquaintance .acquaintance_grid .factors .factors_grid > *:nth-child(2) {
  grid-area: b;
}
.acquaintance .acquaintance_grid .factors .factors_grid > *:nth-child(3) {
  grid-area: c;
}
.acquaintance .acquaintance_grid .factors .factors_grid > *:nth-child(4) {
  grid-area: d;
}
.acquaintance .acquaintance_grid .factors .factors_grid > *:nth-child(5) {
  grid-area: e;
}
.acquaintance .acquaintance_grid .factors .factors_grid > *:nth-child(6) {
  grid-area: f;
}
.acquaintance .acquaintance_grid .factors .factors_grid .factor_item {
  border-radius: 16px;
  padding: 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 1px solid transparent;
}
.acquaintance .acquaintance_grid .factors .factors_grid .factor_item p {
  color: var(--green);
  line-height: 130%;
}
@media (max-width: 768px) {
  .acquaintance .acquaintance_grid .factors .factors_grid .factor_item p {
    font-size: calc(14px + 3.4 * (100vw - 390px) / 1920);
  }
}
@media (min-width: 768px) {
  .acquaintance .acquaintance_grid .factors .factors_grid .factor_item p {
    font-size: calc(14px + 2 * 0.0520833333vw);
  }
}
.acquaintance .acquaintance_grid .factors .factors_grid .factor_item img {
  width: 35px;
}
.acquaintance .acquaintance_grid .factors .factors_grid .factor_item.border {
  border: 1px solid var(--brown);
}
.acquaintance .acquaintance_grid .description_block {
  grid-area: c;
  border-radius: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--brown);
  padding: 20px;
}
@media screen and (max-width: 768px) {
  .acquaintance .acquaintance_grid .description_block {
    display: none;
  }
}
.acquaintance .acquaintance_grid .description_block p {
  text-align: center;
  line-height: 130%;
  color: var(--black);
}
@media (max-width: 768px) {
  .acquaintance .acquaintance_grid .description_block p {
    font-size: calc(14px + 3.4 * (100vw - 390px) / 1920);
  }
}
@media (min-width: 768px) {
  .acquaintance .acquaintance_grid .description_block p {
    font-size: calc(14px + 2 * 0.0520833333vw);
  }
}
.acquaintance .acquaintance_grid .description_block p span {
  font-weight: 600;
}
.acquaintance .acquaintance_grid .mob_description {
  grid-area: f;
}
@media screen and (min-width: 769px) {
  .acquaintance .acquaintance_grid .mob_description {
    display: none;
  }
}
.acquaintance .acquaintance_grid .mob_description p {
  text-align: center;
  line-height: 130%;
  color: var(--black);
  margin-bottom: 30px;
}
@media (max-width: 768px) {
  .acquaintance .acquaintance_grid .mob_description p {
    font-size: calc(14px + 3.4 * (100vw - 390px) / 1920);
  }
}
@media (min-width: 768px) {
  .acquaintance .acquaintance_grid .mob_description p {
    font-size: calc(14px + 2 * 0.0520833333vw);
  }
}
.acquaintance .acquaintance_grid .mob_description p span {
  font-weight: 600;
}
.acquaintance .acquaintance_grid .mob_description a {
  display: block;
  width: -moz-max-content;
  width: max-content;
  margin-left: auto;
}
.acquaintance .acquaintance_grid .mob_top_description {
  grid-area: e;
  text-align: center;
  line-height: 130%;
  color: var(--black);
}
@media (max-width: 768px) {
  .acquaintance .acquaintance_grid .mob_top_description {
    font-size: calc(14px + 3.4 * (100vw - 390px) / 1920);
  }
}
@media (min-width: 768px) {
  .acquaintance .acquaintance_grid .mob_top_description {
    font-size: calc(14px + 2 * 0.0520833333vw);
  }
}
.acquaintance .acquaintance_grid .mob_top_description span {
  font-weight: 600;
}
@media screen and (min-width: 769px) {
  .acquaintance .acquaintance_grid .mob_top_description {
    display: none;
  }
}

@keyframes Rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(180deg);
  }
}
.over_you {
  margin-top: 200px;
  position: relative;
}
.over_you .decor {
  position: absolute;
  top: -100px;
  left: -158px;
  z-index: 0;
  width: 330px;
  height: 300px;
  background-image: url("./../images/over_you_decor.svg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  filter: blur(20px);
}
@media screen and (max-width: 768px) {
  .over_you .decor {
    width: 220px;
    height: 200px;
    top: -79px;
    left: -102px;
  }
}
.over_you .over_you_head {
  position: relative;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  align-items: center;
  grid-auto-rows: auto;
  margin-bottom: 50px;
  z-index: 2;
}
.over_you .over_you_head h2 {
  font-size: 34px;
  text-transform: uppercase;
  font-family: var(--anticva);
}
@media screen and (max-width: 768px) {
  .over_you .over_you_head h2 {
    font-size: 24px;
  }
}
.over_you .over_you_head .right {
  display: flex;
  align-items: center;
  gap: 4dvw;
}
.over_you .over_you_head .right .line {
  height: 1px;
  width: 100%;
  background-color: var(--brown);
}
@media screen and (max-width: 991px) {
  .over_you .over_you_head .right .line {
    display: none;
  }
}
.over_you .over_you_head .right img {
  display: block;
  margin-left: auto;
}
@media screen and (max-width: 768px) {
  .over_you .over_you_head .right img {
    width: 44px;
  }
}
.over_you .over_you_grid {
  position: relative;
  z-index: 2;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
  gap: 40px;
}
@media screen and (max-width: 768px) {
  .over_you .over_you_grid {
    display: none;
  }
}
.over_you .over_you_grid .over_you_grid_item {
  font-size: 16px;
  line-height: 130%;
  color: var(--green);
}
.over_you .over_you_grid .over_you_grid_item span {
  font-weight: 600;
}
.over_you .over_you_grid .over_you_grid_item img {
  border-radius: 16px;
}
.over_you .over_you_grid .over_you_grid_item:nth-child(3) p {
  width: 100%;
  max-width: 360px;
  text-align: end;
  margin-left: auto;
}
.over_you .over_you_grid .over_you_grid_item:nth-child(4) img {
  width: 100%;
}
.over_you .over_you_splide {
  position: relative;
  z-index: 2;
  width: 100%;
  padding-bottom: 30px;
}
@media screen and (min-width: 769px) {
  .over_you .over_you_splide {
    display: none;
  }
}
.over_you .over_you_splide .splide__track {
  position: relative;
}
.over_you .over_you_splide .splide__track .splide__list {
  height: unset;
}
.over_you .over_you_splide .splide__slide {
  width: 100%;
  position: relative;
  text-align: center;
  overflow: hidden;
  height: -moz-max-content;
  height: max-content;
}
.over_you .over_you_splide .splide__slide p {
  margin-top: 20px;
  font-size: 16px;
  color: var(--green);
  line-height: 130%;
}
.over_you .over_you_splide .splide__slide p.max {
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
  margin-top: 20px;
}
.over_you .over_you_splide .splide__slide p span {
  font-weight: 600;
}
.over_you .over_you_splide .splide__slide .bload {
  width: 100%;
  max-width: 500px;
}
.over_you .over_you_splide .splide__pagination__page {
  width: 10px !important;
  height: 10px !important;
  background: transparent;
  border: 1px solid var(--brown);
}
.over_you .over_you_splide .splide__pagination__page.is-active {
  background-color: var(--brown);
  transform: scale(1) !important;
}
.over_you .over_you_splide .splide__pagination__page {
  width: 10px !important;
  height: 10px !important;
  background: transparent;
  border: 1px solid var(--brown);
}
.over_you .over_you_splide .splide__pagination__page.is-active {
  background-color: var(--brown);
  transform: scale(1) !important;
}

.about {
  position: relative;
  margin-top: 150px;
}
.about .decor {
  position: absolute;
  top: -108px;
  left: -147px;
  z-index: 0;
  width: 300px;
  height: 300px;
  background-image: url("./../images/about_decor.svg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  filter: blur(20px);
}
@media screen and (max-width: 768px) {
  .about .decor {
    width: 200px;
    height: 200px;
    top: -82px;
    left: -87px;
  }
}
.about .about_head {
  position: relative;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  align-items: center;
  grid-auto-rows: auto;
  margin-bottom: 30px;
  z-index: 2;
}
@media screen and (max-width: 991px) {
  .about .about_head {
    margin-bottom: 80px;
  }
}
@media screen and (max-width: 768px) {
  .about .about_head {
    margin-bottom: 50px;
  }
}
.about .about_head h2 {
  font-size: 34px;
  text-transform: uppercase;
  font-family: var(--anticva);
}
@media screen and (max-width: 768px) {
  .about .about_head h2 {
    font-size: 24px;
  }
}
.about .about_head .right {
  display: flex;
  align-items: center;
  gap: 4dvw;
}
.about .about_head .right .line {
  height: 1px;
  width: 100%;
  background-color: var(--brown);
}
@media screen and (max-width: 991px) {
  .about .about_head .right .line {
    display: none;
  }
}
.about .about_head .right img {
  display: block;
  margin-left: auto;
}
@media screen and (max-width: 768px) {
  .about .about_head .right img {
    width: 40px;
  }
}
.about .about_image {
  position: relative;
  z-index: 2;
  width: 100%;
  border-radius: 29px;
  overflow: hidden;
}
.about .about_image img {
  width: 100%;
}
.about .about_slider_block .buttons_block {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 20px;
}
.about .about_splide {
  position: relative;
  z-index: 2;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  margin-top: 30px;
}
@media screen and (max-width: 768px) {
  .about .about_splide {
    grid-template-columns: 1fr;
    padding-bottom: 40px;
  }
}
.about .about_splide .splide__track {
  position: relative;
}
.about .about_splide .splide__track .splide__list {
  height: unset;
}
.about .about_splide .splide__slide {
  width: 100%;
  height: -moz-max-content;
  height: max-content;
  font-size: 16px;
  color: var(--green);
  line-height: 130%;
}
.about .about_splide .splide__slide span {
  font-weight: 600;
}
@media screen and (max-width: 768px) {
  .about .about_splide .splide__slide {
    text-align: center;
  }
}
.about .about_splide .splide__arrows {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 20px;
}
@media screen and (max-width: 768px) {
  .about .about_splide .splide__arrows {
    display: none;
  }
}
.about .about_splide .splide__arrows .splide__arrow {
  position: static;
  background-color: transparent;
  width: 48px;
  height: 48px;
  opacity: 1;
  transform: translateY(0) rotate(180deg);
}
.about .about_splide .splide__arrows .splide__arrow svg {
  width: 100%;
  height: 100%;
}
.about .about_splide .splide__pagination__page {
  width: 10px !important;
  height: 10px !important;
  background: transparent;
  border: 1px solid var(--brown);
}
.about .about_splide .splide__pagination__page.is-active {
  background-color: var(--brown);
  transform: scale(1) !important;
}/*# sourceMappingURL=home.css.map */