@use './../common';


.container.hidden_text {
    width: 100%;
    position: relative;
    margin-top: 200px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 40px 0;

    @include common.mediaMaxWidth(992) {
        margin-top: 120px;
    }

    @include common.mediaMaxWidth(768) {
        margin-top: 130px;
    }

    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        backdrop-filter: blur(20px);
        z-index: 10;
        opacity: 0;
        animation: shim 14s forwards infinite;
    }

    .focus_state {
        position: relative;
        height: 70px;
        width: 100%;
        margin-right: 128px;

        @include common.mediaMaxWidth(768) {
            margin-right: 30px;
        }
    }

    & h2 {
        position: absolute;
        top: 50%;
        right: 0;
        transform: translate(0, -50%);
        font-family: var(--anticva);
        text-transform: uppercase;
        display: flex;
        align-items: center;
        color: var(--green);
        @include common.adaptiveFont(46, 24.45);

        &.one {
            animation: hide 14s forwards infinite;
        }

        &.two {
            opacity: 0;
            animation: show 14s forwards infinite;
        }

        & img.romb {
            @include common.adaptiveProperty(height, 70, 50);
        }

        & span {
            z-index: 1;
        }

        .man {
            position: absolute;
            top: 50%;
            left: 6px;
            transform: translate(-50%, -50%);
            z-index: 0;
            height: 124px;
            @include common.adaptiveProperty(height, 124, 90);

        }
    }
}

.slider_container {
    position: relative;
    margin-bottom: 170px;
    width: 100%;
    @include common.adaptiveProperty(margin-top, 70, 40);

    .chat_button {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 60px;
        width: 60px;
        border-radius: 50%;
        border: 3px solid var(--white2);
        background-color: var(--brown);

        & img {
            position: relative;
            top: 1px;
        }

        &.desc {
            position: absolute;
            top: 10px;
            right: 10px;
            z-index: 10;
        }

        &.mob {
            margin-left: auto;
            margin-top: 20px;
            @include common.mediaMinWidth(769) {
                display: none;
            }
        }

        @include common.mediaMaxWidth(1400) {
            &.desc {
                top: 50%;
                transform: translate(0, -50%);
            }
        }

        @include common.mediaMaxWidth(768) {
            &.desc {
                display: none;
            }
        }
    }

    .splide {
        width: 100%;
        max-width: 1361px;
        margin: 0 auto;
        margin-bottom: 70px;

        @include common.mediaMaxWidth(1400) {
            padding-right: 50px;
        }

        @include common.mediaMaxWidth(1280) {
            margin-bottom: 20px;
        }

        @include common.mediaMaxWidth(768) {
            padding-right: 0;
            margin-bottom: 50px;
        }

        .splide__track {
            position: relative;
            padding: 0 100px !important;

            .splide__list {
                height: unset;
            }

            &:before {
                content: '';
                position: absolute;
                top: 0;
                right: 0;
                height: 100%;
                width: 130px;
                background:  linear-gradient(
                    90deg,
                    transparent 0%,
                    rgba(240, 238, 221, 0.2) 20%,
                    rgba(240, 238, 221, 0.4) 40%,
                    rgba(240, 238, 221, 0.6) 60%,
                    var(--background) 80%
                );
                z-index: 10;
            }
        
            &:after {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                width: 130px;
                background: linear-gradient(90deg, var(--background) 40%, transparent 100%);
                z-index: 10;
            }

            @include common.mediaMaxWidth(768) {
                &::after, &::before {
                    display: none;
                }
            }

            @include common.mediaMaxWidth(768) {
                padding: 0 16px !important;
            }
        }
        .splide__slide {
            position: relative;
            overflow: hidden;
            border-radius: 16px;

            img {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }


    .container {

        @include common.mediaMaxWidth(1400) {
            max-width: unset;
            padding-left: 100px;
        }

        @include common.mediaMaxWidth(768) {
            padding: 0 16px;
        }

        & h3 {
            position: relative;
            color: var(--brown3);
            font-family: var(--anticva);
            font-size: 90px;
            
            @include common.mediaMaxWidth(1300) {
                width: min-content;
            }

            @include common.mediaMaxWidth(1000) {
                @include common.adaptiveFont(90, 44);
            }
        }
    
        & p.decor {
            position: relative;
            font-weight: 400;
            font-size: 22px;
            left: 50%;
            color: var(--green);
            font-family: var(--main-font);

            @include common.mediaMaxWidth(1300) {
                left: 40%;
            }

            @include common.mediaMaxWidth(700) {
                left: unset;
                margin-top: 20px;
                text-align: end;
            }
        }
    }
}

@keyframes shim {
    0% {
        opacity: 1;
    } 
    10% {
        opacity: 0;
    }
    35% {
        opacity: 0;
    } 
    40% {
        opacity: 1;
    }
    45% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    75% {
        opacity: 0;
    }
    88% {
        opacity: 1;
    }
    100% {
        opacity: 1;
    }
}

@keyframes hide {
    0% {
        opacity: 1;
    }
    40% {
        opacity: 1;
    }
    48% {
        opacity: 0;
    }
    80% {
        opacity: 0;
    }
    82% {
        opacity: 0;
    }
    90% {
        opacity: 1;
    }
    100% {
        opacity: 1;
    }
}

@keyframes show {
    0% {
        opacity: 0;
    }
    40% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    80% {
        opacity: 1;
    }
    90% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}

