@use './../common';

header {
    position: absolute;
    top: 30px;
    left: 0;
    width: 100%;
    z-index: 100;

    .header_wrapper {
        display: grid;
        grid-template-columns: 3fr 2fr 1fr;
        align-items: center;
        gap: 20px;

        @include common.mediaMaxWidth(991) {
            display: flex;
            justify-content: space-between;
        }

        .menu {
            position: relative;
            width: 44px;
            height: 47px;
            z-index: 20;
            // overflow: hidden; //Исправить

            &::before {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 0px;
                border-radius: 8px;
                background-color: var(--white);
                z-index: 1;
                opacity: 0;
                transition: opacity 0.3s;
            }

            &.open {
                animation: openMenu forwards 0.8s;
                &::before {
                    opacity: 1;
                    z-index: 3;
                    animation: openBack forwards 0.8s;
                }
                .menu_head {
                    .links_list_wrapper {
                        transition: opacity 0.6s, height 0.5s 0s;
                        opacity: 1;
                        z-index: 4;
                        height: 441px;
                    }
                }
            }
            &.close {
                animation: closeMenu forwards 0.8s;
                &::before {
                    animation: closeBack forwards 0.8s;
                    z-index: 1;
                    opacity: 0;
                }
            }

            @include common.mediaMinWidth(992) {
                display: none;      
            }

            .burger {
                position: relative;
                z-index: 2;
            }
            .menu_head {
                position: absolute;
                top: 0;
                left: 0;
                width: 172px;
                padding: 13px;
                height: 47px;

                .links_list_wrapper {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 172px;
                    height: 47px;
                    padding: 13px;
                    z-index: 1;
                    display: flex;
                    flex-direction: column;
                    opacity: 0;
                    transition: opacity 0.6s, height 0.5s 0.5s;
                    overflow: hidden;
                    .close {
                        align-self: flex-end;
                    }

                    .link_list {
                        display: flex;
                        flex-direction: column;
                        gap: 20px;
                        padding-top: 10px;

                        .link {
                            height: 17px;
                            display: flex;
                            align-items: center;
                            font-size: 13px;
                            color: var(--green);
                        }

                        .links_block {
                            display: flex;
                            flex-direction: column;
                            gap: 20px;
                            padding-left: 20px;
                        }
                    }
                }
            }
        }



        .logo {
            display: flex;
            align-items: center;
            gap: 20px;

            img {
                width: 80px;
            }
            p {
                font-size: 64px;
                @include common.adaptiveFont(64, 40);
                height: 45px;
                line-height: 0.5;
                color: var(--grey);
                white-space: nowrap;
            }
        }
        
        nav {
            position: relative;
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 10px;
            flex-wrap: wrap;
            width: 100%;
            max-width: 372px;
            padding: 0 20px;
            @include common.mediaMaxWidth(991) {
                display: none;
            }
    
            .link,
            .method_btn {
                font-size: 13px;
                color: var(--green);
                transition: 0.3s;
            }

            .link.disabled {
                color: var(--brown2);
                opacity: 50%;
            }

            .method_list {
                position: absolute;
                bottom: 0;
                left: 0;
                border-radius: 16px;
                width: 304px;
                animation: Open forwards 0.3s;
                opacity: 0;
                display: none;
                padding: 25px 25px 20px 59px;
                transform: translateY(calc(100% + 15px));
                z-index: 10;
                background-color: var(--white);
                flex-direction: column;
                transition: 0.3s;

                &.active {
                    display: flex;
                }

                .acordeon {
                    width: 100%;
                    position: absolute;
                    top: 65px;
                    left: 0;
                    opacity: 0;
                    padding-left: 59px;
                    padding-bottom: 20px;
                    border-radius: 16px;
                    background-color: var(--white);
                    z-index: -1;
                    overflow: hidden;
                    transition: 0.3s;

                    .acordeon_wrapper {
                        display: flex;
                        flex-direction: column;
                        gap: 15px;
                        padding-left: 20px;
                        padding-bottom: 10px;
                    }
                    &.active {
                        opacity: 1;
                        z-index: 10;
                    }
                }

                .acordeon_link {
                    font-size: 13px;
                    color: var(--grey);
                    transition: 0.3s;
                    width: max-content;
                    height: 27px;
                    padding: 0 10px;
                    gap: 15px;
                    transition: 0.3s;
                    display: flex;
                    align-items: center;

                    &.acordeon_btn {
                        margin-bottom: 15px;
                    }

                    &.disabled {
                        color: var(--brown2);
                        opacity: 50%;
                    }

                    // &:hover {
                    //     background-color: var(--grey);
                    // }
                }
            }
        }
    }
}

@keyframes hide {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0.5;
    }
    100% {
        opacity: 1;
    }
}

@keyframes openMenu {
    0% {
        width: 44px;
    }
    70% {
        width: 177px;
    }
    100% {
        width: 172px;
    }
}

@keyframes closeMenu {
    0% {
        width: 172px;
    }
    70% {
        width: 39px;    
    }
    100% {
        width: 44px;
    }
}

@keyframes openBack {
    0% {
        height: 47px;
    }
    70% {
        height: 451px;
    }
    100% {
        height: 441px;
    }
}

@keyframes closeBack {
    0% {
        height: 441px;
    }
    100% {
        height: 47px;
    }
}