@charset "UTF-8";
/*-------------Миксины----------------*/
.menu {
  position: absolute;
  top: 50px;
  right: 16px;
  width: 44px;
  height: 47px;
  z-index: 120;
  overflow: hidden;
  transition: 0.3s;
}
@media screen and (max-width: 768px) {
  .menu {
    top: 32px;
  }
}
.menu::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 0px;
  border-radius: 8px;
  background-color: var(--white);
  z-index: 1;
  opacity: 0;
  transition: opacity 0.3s;
}
.menu.open {
  animation: openMenu forwards 0.8s;
  height: 450px;
}
.menu.open::before {
  opacity: 1;
  z-index: 3;
  animation: openBack forwards 0.8s;
}
.menu.open .menu_head .links_list_wrapper {
  transition: opacity 0.6s, height 0.5s 0s;
  opacity: 1;
  z-index: 4;
  height: 441px;
}
.menu.close {
  animation: closeMenu forwards 0.8s;
}
.menu.close::before {
  animation: closeBack forwards 0.8s;
  z-index: 1;
  opacity: 0;
}
@media screen and (min-width: 992px) {
  .menu {
    display: none;
  }
}
.menu .burger {
  position: relative;
  z-index: 2;
}
.menu .menu_head {
  position: absolute;
  top: 0;
  left: 0;
  width: 172px;
  padding: 13px;
  height: 47px;
}
.menu .menu_head .links_list_wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 172px;
  height: 47px;
  padding: 10px;
  z-index: 1;
  display: flex;
  flex-direction: column;
  opacity: 0;
  transition: opacity 0.6s, height 0.5s 0.5s;
  overflow: hidden;
}
.menu .menu_head .links_list_wrapper .close {
  align-self: flex-end;
}
.menu .menu_head .links_list_wrapper .link_list {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-top: 10px;
}
.menu .menu_head .links_list_wrapper .link_list .link {
  height: 17px;
  display: flex;
  align-items: center;
  font-size: 13px;
  color: var(--green);
  white-space: nowrap;
}
.menu .menu_head .links_list_wrapper .link_list .links_block {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-left: 20px;
}

header {
  position: absolute;
  top: 30px;
  left: 0;
  width: 100%;
  z-index: 100;
}
header .header_wrapper {
  position: relative;
  display: grid;
  grid-template-columns: 3fr 2fr 1fr;
  align-items: center;
  gap: 20px;
}
@media screen and (max-width: 991px) {
  header .header_wrapper {
    display: flex;
    justify-content: space-between;
  }
}
header .header_wrapper .decor {
  position: absolute;
  width: 300px;
  height: 300px;
  top: -108px;
  left: -95px;
  z-index: -1;
  background-image: url("./../images/header_decor.svg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  filter: blur(20px);
}
@media screen and (max-width: 768px) {
  header .header_wrapper .decor {
    width: 230px;
    height: 230px;
    filter: blur(10px);
    top: -88px;
    left: -80px;
  }
}
header .header_wrapper .logo {
  display: flex;
  align-items: center;
  gap: 20px;
}
header .header_wrapper .logo img {
  width: 80px;
}
@media screen and (max-width: 768px) {
  header .header_wrapper .logo img {
    width: 50px;
  }
}
header .header_wrapper .logo p {
  display: flex;
  align-items: center;
  font-size: 64px;
  height: 45px;
  line-height: 0.5;
  color: var(--grey);
  white-space: nowrap;
}
@media (max-width: 768px) {
  header .header_wrapper .logo p {
    font-size: calc(40px + 40.8 * (100vw - 390px) / 1920);
  }
}
@media (min-width: 768px) {
  header .header_wrapper .logo p {
    font-size: calc(40px + 24 * 0.0520833333vw);
  }
}
header .header_wrapper nav {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  width: 100%;
  max-width: 372px;
  padding: 0 20px;
}
@media screen and (max-width: 991px) {
  header .header_wrapper nav {
    display: none;
  }
}
header .header_wrapper nav .link,
header .header_wrapper nav .method_btn {
  font-size: 13px;
  color: var(--green);
  transition: 0.3s;
  white-space: nowrap;
}
header .header_wrapper nav .link.disabled {
  color: var(--brown2);
  opacity: 50%;
}
header .header_wrapper nav .method_list {
  position: absolute;
  bottom: 0;
  left: 0;
  border-radius: 16px;
  width: 304px;
  animation: Open forwards 0.3s;
  opacity: 0;
  display: none;
  padding: 25px 25px 20px 59px;
  transform: translateY(calc(100% + 15px));
  z-index: 10;
  background-color: var(--white);
  flex-direction: column;
  transition: 0.3s;
}
header .header_wrapper nav .method_list.active {
  display: flex;
}
header .header_wrapper nav .method_list .acordeon {
  width: 100%;
  position: absolute;
  top: 65px;
  left: 0;
  opacity: 0;
  padding-left: 59px;
  padding-bottom: 20px;
  border-radius: 16px;
  background-color: var(--white);
  z-index: -1;
  overflow: hidden;
  transition: 0.3s;
}
header .header_wrapper nav .method_list .acordeon .acordeon_wrapper {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding-left: 20px;
  padding-bottom: 10px;
}
header .header_wrapper nav .method_list .acordeon.active {
  opacity: 1;
  z-index: 10;
}
header .header_wrapper nav .method_list .acordeon_link {
  font-size: 13px;
  color: var(--grey);
  transition: 0.3s;
  width: -moz-max-content;
  width: max-content;
  height: 27px;
  padding: 0 10px;
  gap: 15px;
  transition: 0.3s;
  display: flex;
  align-items: center;
}
header .header_wrapper nav .method_list .acordeon_link.acordeon_btn {
  margin-bottom: 15px;
}
header .header_wrapper nav .method_list .acordeon_link.disabled {
  color: var(--brown2);
  opacity: 50%;
}

@keyframes hide {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
@keyframes openMenu {
  0% {
    width: 44px;
  }
  70% {
    width: 177px;
  }
  100% {
    width: 172px;
  }
}
@keyframes closeMenu {
  0% {
    width: 172px;
  }
  70% {
    width: 39px;
  }
  100% {
    width: 44px;
  }
}
@keyframes openBack {
  0% {
    height: 47px;
  }
  70% {
    height: 451px;
  }
  100% {
    height: 441px;
  }
}
@keyframes closeBack {
  0% {
    height: 441px;
  }
  100% {
    height: 47px;
  }
}/*# sourceMappingURL=header.css.map */