{% load static %}
{% load livereload_tags %}
{% livereload_script %}

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'main/style.css' %}">
    <link rel="stylesheet" href="{% static 'main/header/header.css' %}">
    <link rel="stylesheet" href="{% static 'main/footer/footer.css' %}">
    <script src="{% static 'main/scripts/script.js' %}" defer></script>
</head>
<body>

    <header>
        <div class="header_wrapper container">
            <div class="logo">
                <img src="{% static 'main/images/logo.svg' %}" alt="">
                <p>сверх ты</p>
            </div>

            <nav>
                <a href="" class="link">О нас</a>
                <button class="method_btn" onclick="openMethodList()">Наш метод</button>
                <a href="" class="link">Компетенции</a>
                <a href="" class="link">Контакты</a>

                <div class="method_list">
                    <button class="acordeon_link acordeon_btn" onclick="openHeaderAcordeon()">Ваша траектория</button>
                    <div class="acordeon">
                        <div class="acordeon_wrapper">
                            <a href="" class="acordeon_link">Начать?</a>
                            <a href="" class="acordeon_link">Обновление</a>
                            <a href="" class="acordeon_link">Просто</a>
                        </div>
                    </div>
                    <div class="acordeon_link">Фокусные мероприятия</div>
                </div>
            </nav>

        </div>
    </header>

    {% block content %}{% endblock %}
    
    <footer>
        <div class="footer_wrapper container">
            <nav class="footer_nav">
                <a href="" class="link">о нас</a>
                <a href="" class="link">о методе</a>
                <a href="" class="link">компетенции</a>
                <a href="" class="link">контакты</a>
            </nav>

            <div class="logo_container">
                <div class="logo_image">
                    <img class="logo" src="{% static 'main/images/logo.svg' %}" alt="">

                    <img class="decor" src="{% static 'main/images/sun.svg' %}" alt="">
                </div>
                <p>сверх ты</p>
            </div>

            <div class="social">
                <a href="" class="social__link">
                    <img src="{% static 'main/images/wk.svg' %}" alt="">
                </a>
                <a href="" class="social__link">
                    <img src="{% static 'main/images/tg.svg' %}" alt="">
                </a>
                <a href="" class="social__link bot">
                    <img src="{% static 'main/images/tg.svg' %}" alt="">
                    <span>бот</span>
                </a>
                <a href="" class="social__link">
                    <img src="{% static 'main/images/dzen.svg' %}" alt="">
                </a>
                <a href="" class="social__link">
                    <img src="{% static 'main/images/instagram.svg' %}" alt="">
                </a>
            </div>
        </div>
    </footer>
</body>
</html>