{% load static %}
{% load livereload_tags %}
{% livereload_script %}

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <meta name="description" content="{% block description %}{% endblock %}">
    <link rel="stylesheet" href="{% static 'main/style.css' %}">
    <link rel="stylesheet" href="{% static 'main/header/header.css' %}">
    <link rel="stylesheet" href="{% static 'main/footer/footer.css' %}">
    <link rel="stylesheet" href="{% static 'main/splide/splide.min.css' %}">
    {% block css %}{% endblock %}
    <script src="{% static 'main/scripts/script.js' %}" defer></script>
    <script src="{% static 'main/scripts/splide.min.js' %}" defer></script>
    <script src="{% static 'main/scripts/splide.js' %}" defer></script>
</head>
<body>

    <header>
        <div class="header_wrapper container">
            <div class="logo">
                <img src="{% static 'main/images/logo.svg' %}" alt="">
                <p>сверх ты</p>
            </div>

            <nav>
                <a href="" class="link">О нас</a>
                <button class="method_btn" onclick="openMethodList(event)">Наш метод</button>
                <a href="" class="link">Компетенции</a>
                <a href="" class="link">Контакты</a>

                <div class="method_list" onclick="stopPropagation(event)">
                    <button class="acordeon_link acordeon_btn" onclick="openHeaderAcordeon()">Ваша траектория</button>
                    <a href="" class="acordeon_link">Фокусные мероприятия</a>
                    <div class="acordeon">
                        <div class="acordeon_wrapper">
                            <a href="" class="acordeon_link">Начать?</a>
                            <a href="" class="acordeon_link">Обновление</a>
                            <a href="" class="acordeon_link">Просто</a>
                        </div>
                        <a href="" class="acordeon_link disabled">Фокусные мероприятия</a>
                    </div>
                </div>
            </nav>

            
            
        </div>
    </header>
    
    <div class="menu" onclick="stopPropagation(event)">

        <div class="menu_head">

            <button class="burger" onclick="openPanel(event)">
                <svg width="21" height="21" viewBox="0 0 21 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M0.666504 4.74999C0.666504 2.49483 2.49467 0.666656 4.74984 0.666656C7.005 0.666656 8.83317 2.49483 8.83317 4.74999C8.83317 7.00515 7.005 8.83332 4.74984 8.83332C2.49467 8.83332 0.666504 7.00515 0.666504 4.74999ZM7.08317 4.74999C7.08317 3.46133 6.0385 2.41666 4.74984 2.41666C3.46117 2.41666 2.4165 3.46133 2.4165 4.74999C2.4165 6.03865 3.46117 7.08332 4.74984 7.08332C6.0385 7.08332 7.08317 6.03865 7.08317 4.74999Z" fill="#31443A"/>
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M12.3332 4.74999C12.3332 2.49483 14.1613 0.666656 16.4165 0.666656C18.6717 0.666656 20.4998 2.49483 20.4998 4.74999C20.4998 7.00515 18.6717 8.83332 16.4165 8.83332C14.1613 8.83332 12.3332 7.00515 12.3332 4.74999ZM18.7498 4.74999C18.7498 3.46133 17.7052 2.41666 16.4165 2.41666C15.1278 2.41666 14.0832 3.46133 14.0832 4.74999C14.0832 6.03865 15.1278 7.08332 16.4165 7.08332C17.7052 7.08332 18.7498 6.03865 18.7498 4.74999Z" fill="#31443A"/>
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M0.666504 16.4167C0.666504 14.1615 2.49467 12.3333 4.74984 12.3333C7.005 12.3333 8.83317 14.1615 8.83317 16.4167C8.83317 18.6718 7.005 20.5 4.74984 20.5C2.49467 20.5 0.666504 18.6718 0.666504 16.4167ZM7.08317 16.4167C7.08317 15.128 6.0385 14.0833 4.74984 14.0833C3.46117 14.0833 2.4165 15.128 2.4165 16.4167C2.4165 17.7053 3.46117 18.75 4.74984 18.75C6.0385 18.75 7.08317 17.7053 7.08317 16.4167Z" fill="#31443A"/>
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M12.3332 16.4167C12.3332 14.1615 14.1613 12.3333 16.4165 12.3333C18.6717 12.3333 20.4998 14.1615 20.4998 16.4167C20.4998 18.6718 18.6717 20.5 16.4165 20.5C14.1613 20.5 12.3332 18.6718 12.3332 16.4167ZM18.7498 16.4167C18.7498 15.128 17.7052 14.0833 16.4165 14.0833C15.1278 14.0833 14.0832 15.128 14.0832 16.4167C14.0832 17.7053 15.1278 18.75 16.4165 18.75C17.7052 18.75 18.7498 17.7053 18.7498 16.4167Z" fill="#31443A"/>
                </svg>
            </button>

            <div class="links_list_wrapper">
                <button class="close" onclick="closePanel()">
                    <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M10.1665 9.01196L17.762 1.44213C18.0793 1.12181 18.0793 0.602902 17.762 0.282587C17.4503 -0.0434532 16.9355 -0.0532452 16.6118 0.260709L9.01628 7.83054L1.51839 0.260709C1.36467 0.0967873 1.15078 0.00390625 0.927025 0.00390625C0.703266 0.00390625 0.489378 0.0967873 0.335658 0.260709C0.0543006 0.570182 0.0543006 1.04514 0.335658 1.35461L7.83354 8.9135L0.238001 16.4724C-0.0793336 16.7927 -0.0793336 17.3116 0.238001 17.6319C0.389074 17.7879 0.596845 17.8749 0.813092 17.8726C1.03351 17.8906 1.25202 17.8198 1.42074 17.6757L9.01628 10.1059L16.6118 17.7632C16.7629 17.9192 16.9707 18.0061 17.1869 18.0039C17.4029 18.0049 17.6102 17.9181 17.762 17.7632C18.0793 17.4429 18.0793 16.924 17.762 16.6037L10.1665 9.01196Z" fill="black"/>
                    </svg>
                </button>

                <div class="link_list">
                    <a href="" class="link">О нас</a>
                    <div class="links_block">
                        <a href="" class="link">Станислав Саначев</a>
                        <a href="" class="link">Ульяна Комарова</a>
                        <a href="" class="link">Ирина Лукацкая</a>
                        <a href="" class="link">Ирина Свирина</a>
                    </div>
                    <a href="" class="link">Наш метод</a>
                    <div class="links_block">
                        <a href="" class="link">С чем мы работаем</a>
                        <a href="" class="link">Запросы</a>
                        <a href="" class="link">Feedback</a>
                    </div>
                    <a href="" class="link">Компетенции</a>
                    <a href="" class="link">Контакты</a>
                </div>
            </div>
            
        </div>
    </div>

    {% block content %}{% endblock %}
    
    <footer>
        <div class="footer_wrapper container">
            <nav class="footer_nav">
                <a href="" class="link">о нас</a>
                <a href="" class="link">о методе</a>
                <a href="" class="link">компетенции</a>
                <a href="" class="link">контакты</a>
            </nav>

            <div class="logo_container">
                <div class="logo_image">
                    <img class="logo" src="{% static 'main/images/logo.svg' %}" alt="">

                    <img class="decor" src="{% static 'main/images/sun.svg' %}" alt="">
                </div>
                <p>сверх ты</p>
            </div>

            <div class="social">
                <a href="" class="social__link">
                    <img src="{% static 'main/images/wk.svg' %}" alt="">
                </a>
                <a href="" class="social__link">
                    <img src="{% static 'main/images/tg.svg' %}" alt="">
                </a>
                <a href="" class="social__link bot">
                    <img src="{% static 'main/images/tg.svg' %}" alt="">
                    <span>бот</span>
                </a>
                <a href="" class="social__link">
                    <img src="{% static 'main/images/dzen.svg' %}" alt="">
                </a>
                <a href="" class="social__link">
                    <img src="{% static 'main/images/instagram.svg' %}" alt="">
                </a>
            </div>
        </div>
    </footer>
</body>
</html>